<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>CFBundleIdentifier</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>CFBundleShortVersionString</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>CFBundleVersion</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Graham Miln. All rights reserved. https://miln.eu</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>Set by `derive_plist.sh` script during build.</string>
	</array>
</dict>
</plist>
