<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>UCIsolatedInstall</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>CFBundleVersion</key>
	<string>Set by `derive_plist.sh` script during build.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Graham Miln. All rights reserved. https://miln.eu</string>
	<key>UCInstallAuthorityApp</key>
	<string>$(MILNUPDATE_AUTH_APP_NAME)</string>
	<key>XPCService</key>
	<dict>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>SET_BY_SCRIPT</key>
		<string>Set by `derive_plist.sh` script during build.</string>
	</dict>
</dict>
</plist>
