//
//  version.xcconfig
//  Miln Update - https://indie.miln.eu
//
//  Copyright © Graham Miln. All rights reserved. https://miln.eu
//
//  This package is subject to the terms of the Artistic License 2.0.
//  If a copy of the Artistic-2.0 was not distributed with this file, you can
//  obtain one at https://indie.miln.eu/licence
//

MILNUPDATE_VERSION = 1.0.0
MILNUPDATE_VERSION[config=Debug][sdk=*][arch=*] = 1.0.0debug-build
