//
//  updatecore.xcconfig
//  UpdateCore - https://indie.miln.eu
//
//  Copyright © Graham Miln. All rights reserved. https://miln.eu
//
//  This package is subject to the terms of the Artistic License 2.0.
//  If a copy of the Artistic-2.0 was not distributed with this file, you can
//  obtain one at https://indie.miln.eu/licence
//

// ****** OVERRIDE START
//
// Compile time settings that YOU MUST provide in a `milnupdate.xcconfig`
// file created one directory above updatecore/.

MILNUPDATE_APP_NAME = OVERRIDE_WITH_YOUR_APPLICATION_NAME
// MILNUPDATE_APP_NAME is used to:
// - derive a unique authorization tool name within UpdateCore. This name is displayed to the user.

MILNUPDATE_APP_BUNDLE = OVERRIDE_WITH_YOUR_APPLICATION_BUNDLE_IDENTIFIER
// MILNUPDATE_APP_BUNDLE is used to:
// - derive a unique installer tool name within UpdateCore.

MILNUPDATE_APP_CERTIFICATE = OVERRIDE_WITH_YOUR_APPLICATION_CERTIFICATE_COMMON_NAME
// MILNUPDATE_APP_CERTIFICATE is used to:
// - associate the privileged helper tool with your application.

// ** CODESIGNING **

DEVELOPMENT_TEAM = OVERRIDE_WITH_YOUR_DEVELOPER_ID
// DEVELOPMENT_TEAM is a unique identifier, assigned by Apple, in your certificate common name i.e. 1234YYYXXX

MILNUPDATE_TOOL_ADDITIONAL_POLICY_CHECK =
// MILNUPDATE_TOOL_ADDITIONAL_POLICY_CHECK is used to add additional signing checks to
// the privileged helper tool. By default the check ensures an Apple signed root and a
// leaf certificate matching MILNUPDATE_APP_CERTIFICATE.
// 
// Can be used to add checks ensuring the signing certificate contains a specific policy:
// MILNUPDATE_TOOL_ADDITIONAL_POLICY_CHECK=certificate 1[field.1.2.840.113635.100.6.2.1]
// MILNUPDATE_TOOL_ADDITIONAL_POLICY_CHECK=certificate 1[field.1.2.840.113635.100.6.2.6]
// ...Mac Developer OID: 1.2.840.113635.100.6.2.1
// ...Developer ID Application OID: 1.2.840.113635.100.6.2.6

// ****** OVERRIDE END

// Relative path to your Xcode configuration overriding these settings:
#include "../../../milnupdate.xcconfig"

// Project wide version information
#include "../version.xcconfig"

CODE_SIGN_IDENTITY = Mac Developer
// CODE_SIGN_IDENTITY should be `Developer ID` for release builds. Can be useful to
// override for development builds or when code signing occurs in a post build script.

// Script for deriving property lists as a Build Phase
MILNUPDATE_DERIVE_TOOL = ${SRCROOT}/derive_plist.sh

MILNUPDATE_AUTH_APP_BUNDLE = eu.miln.update.core.install-authority.${MILNUPDATE_APP_NAME:lower:rfc1034identifier}
MILNUPDATE_AUTH_APP_NAME = ${MILNUPDATE_APP_NAME} Software Update
MILNUPDATE_TOOL_BUNDLE = $(MILNUPDATE_APP_BUNDLE:lower).installer

// Unique bundle identifiers for isolated XPC services
MILNUPDATE_XPC_DOWNLOAD_BUNDLE = $(MILNUPDATE_APP_BUNDLE:lower).update.download
MILNUPDATE_XPC_PARSE_BUNDLE = $(MILNUPDATE_APP_BUNDLE:lower).update.parse
MILNUPDATE_XPC_VERIFY_BUNDLE = $(MILNUPDATE_APP_BUNDLE:lower).update.verify
MILNUPDATE_XPC_INSTALL_BUNDLE = $(MILNUPDATE_APP_BUNDLE:lower).update.install
